body { background: transparent url("../gallery_gen/cfb5c45c52aac9e211fe7add740fd5a4.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/7cf545ba173ce794135f199c29664142.jpg") repeat-x scroll center top; }
body, .wb_sbg { min-width: 320px; min-height: 2380px; }
.root { width: 320px; height: 2380px; overflow: hidden; }
#wb_element_instance111 { left: 0px; top: 50px; min-width: 310px; width: 310px; min-height: 40px; height: 40px; display: block; z-index: 191; }
#wb_element_instance111 ul { background: #ffffff none repeat scroll left top; }
#wb_element_instance111 .btn-collapser { display: inline-block; }
#wb_element_instance111 > ul { display: none; }
#wb_element_instance111.collapse-expanded > ul { display: block; float: none; height: auto; }
#wb_element_instance111.collapse-expanded > ul > li { display: block; }
#wb_element_instance111.collapse-expanded > ul > li > ul { position: static; }
#wb_element_instance111.collapse-expanded > ul > li.active > ul { display: block!important; }
#wb_element_instance111.collapse-expanded > ul > li:hover > ul { display: none; }
#wb_element_instance111 ul { border: 0px none #000000; }
#wb_element_instance111, #wb_element_instance111 ul { text-align: right; }
#wb_element_instance111 ul ul { background: transparent none repeat-x scroll left top; }
#wb_element_instance111 li { margin: 0px 0px 0px 0px; }
#wb_element_instance111 li a { text-transform: uppercase; border: 0px none #000000; padding: 25px 39px 25px 39px; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: none; color: #3ea9eb; line-height: 16px; background: transparent none no-repeat scroll right center; }
#wb_element_instance111 li:hover > a, #wb_element_instance111 li:focus > a { border: 0px none #000000; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: none; color: #ff6200; line-height: 16px; background: transparent none repeat-x scroll left center; }
#wb_element_instance111 li.active > a { border: 0px none #000000; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: none; color: #fa6508; line-height: 16px; background: transparent none repeat-x scroll left center; }
#wb_element_instance112 { left: 63px; top: 20px; min-width: 240px; width: 240px; min-height: 36px; height: 36px; display: block; z-index: 189; }
#wb_element_instance113 { left: 0px; top: 10px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; z-index: 190; }
#wb_element_instance113 img { width: 60px; height: 60px; position: static; left: 0px; top: 0px; }
#wb_element_instance114 { left: 10px; top: 30px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; z-index: 186; }
#wb_element_instance115 { left: 10px; top: 57px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; z-index: 187; }
#wb_element_instance116 { left: 270px; top: 10px; min-width: 20px; width: 20px; min-height: 20px; height: 20px; display: block; z-index: 197; overflow: hidden; }
#wb_element_instance116 img { width: 28px; height: 28px; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance117 { left: 270px; top: 50px; min-width: 20px; width: 20px; min-height: 20px; height: 20px; display: block; z-index: 196; overflow: hidden; }
#wb_element_instance117 img { width: 28px; height: 28px; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance118 { left: 0px; top: 20px; display: block; z-index: 9000; }
#wb_element_instance119 { left: 0px; top: 114px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	body, .wb_sbg { min-width: 768px; min-height: 1780px; }
	.root { width: 768px; height: 1780px; overflow: visible; }
	#wb_element_instance111 { left: 360px; top: 20px; min-width: 400px; width: 400px; min-height: 68px; height: 68px; display: block; }
	#wb_element_instance111 ul { background: transparent none repeat-x scroll center top; }
	#wb_element_instance111 .btn-collapser { display: none; }
	#wb_element_instance111 > ul { display: block; }
	#wb_element_instance112 { left: 100px; top: 30px; min-width: 300px; width: 300px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance113 { left: 0px; top: 10px; min-width: 90px; width: 90px; min-height: 90px; height: 90px; display: block; }
	#wb_element_instance113 img { width: 90px; height: 90px; position: static; left: 0px; top: 0px; }
	#wb_element_instance114 { left: 20px; top: 40px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance115 { left: 170px; top: 40px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance116 { left: 680px; top: 30px; min-width: 20px; width: 20px; min-height: 20px; height: 20px; display: block; overflow: hidden; }
	#wb_element_instance116 img { width: 28px; height: 28px; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance117 { left: 720px; top: 30px; min-width: 20px; width: 20px; min-height: 20px; height: 20px; display: block; overflow: hidden; }
	#wb_element_instance117 img { width: 28px; height: 28px; position: relative; left: 0px; top: 0px; max-width: inherit; }
}

@media (min-width: 992px) {
	body, .wb_sbg { min-width: 992px; min-height: 1375px; }
	.root { width: 992px; height: 1375px; overflow: visible; }
	#wb_element_instance111 { left: 338px; top: 20px; min-width: 642px; width: 642px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance111 ul { background: transparent none repeat-x scroll center top; }
	#wb_element_instance111 .btn-collapser { display: none; }
	#wb_element_instance111 > ul { display: block; }
	#wb_element_instance112 { left: 70px; top: 20px; min-width: 390px; width: 390px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance113 { left: 0px; top: 20px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance113 img { width: 60px; height: 60px; position: static; left: 0px; top: 0px; }
	#wb_element_instance114 { left: 420px; top: 50px; min-width: 312px; width: 312px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance115 { left: 450px; top: 70px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance116 { left: 880px; top: 40px; min-width: 40px; width: 40px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance116 img { width: 40px; height: 40px; position: static; left: 0px; top: 0px; }
	#wb_element_instance117 { left: 930px; top: 40px; min-width: 40px; width: 40px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance117 img { width: 40px; height: 40px; position: static; left: 0px; top: 0px; }
}

@media (min-width: 1200px) {
	body, .wb_sbg { min-width: 1200px; min-height: 1596px; }
	.root { width: 1200px; height: 1596px; overflow: visible; }
	#wb_element_instance111 { left: 760px; top: 20px; min-width: 440px; width: 440px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance111 ul { background: transparent none repeat-x scroll center top; }
	#wb_element_instance111 .btn-collapser { display: none; }
	#wb_element_instance111 > ul { display: block; }
	#wb_element_instance112 { left: 100px; top: 15px; min-width: 290px; width: 290px; min-height: 72px; height: 72px; display: block; }
	#wb_element_instance113 { left: 0px; top: 10px; min-width: 80px; width: 80px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance113 img { width: 80px; height: 80px; position: static; left: 0px; top: 0px; }
	#wb_element_instance114 { left: 10px; top: 40px; min-width: 160px; width: 160px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance115 { left: 160px; top: 40px; min-width: 107px; width: 107px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance116 { left: 1120px; top: 40px; min-width: 28px; width: 28px; min-height: 28px; height: 28px; display: block; }
	#wb_element_instance116 img { width: 28px; height: 28px; position: static; left: 0px; top: 0px; }
	#wb_element_instance117 { left: 1165px; top: 40px; min-width: 28px; width: 28px; min-height: 28px; height: 28px; display: block; }
	#wb_element_instance117 img { width: 28px; height: 28px; position: static; left: 0px; top: 0px; }
}
