#wb_header { background: transparent none no-repeat scroll center bottom; height: 100px; }
#wb_header { height: 100px; }
#wb_main { background: transparent none repeat scroll left top; height: 1145px; padding: 0 0 40px 0; }
#wb_main { height: 2190px; }
#wb_footer { background: #ffffff none repeat-x scroll center bottom; height: 90px; }
#wb_footer { height: 90px; }
body { background: transparent url("../gallery_gen/cfb5c45c52aac9e211fe7add740fd5a4.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/7cf545ba173ce794135f199c29664142.jpg") repeat-x scroll center top; }
body, .wb_sbg { min-width: 320px; min-height: 2380px; }
.root { width: 320px; height: 2380px; overflow: hidden; }
#wb_element_instance0 { left: 0px; top: 50px; min-width: 310px; width: 310px; min-height: 40px; height: 40px; display: block; z-index: 191; }
#wb_element_instance0 ul { background: #ffffff none repeat scroll left top; }
#wb_element_instance0 .btn-collapser { display: inline-block; }
#wb_element_instance0 > ul { display: none; }
#wb_element_instance0.collapse-expanded > ul { display: block; float: none; height: auto; }
#wb_element_instance0.collapse-expanded > ul > li { display: block; }
#wb_element_instance0.collapse-expanded > ul > li > ul { position: static; }
#wb_element_instance0.collapse-expanded > ul > li.active > ul { display: block!important; }
#wb_element_instance0.collapse-expanded > ul > li:hover > ul { display: none; }
#wb_element_instance0 ul { border: 0px none #000000; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: right; }
#wb_element_instance0 ul ul { background: transparent none repeat-x scroll left top; }
#wb_element_instance0 li { margin: 0px 0px 0px 0px; }
#wb_element_instance0 li a { text-transform: uppercase; border: 0px none #000000; padding: 25px 39px 25px 39px; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: none; color: #3ea9eb; line-height: 16px; background: transparent none no-repeat scroll right center; }
#wb_element_instance0 li:hover > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: none; color: #ff6200; line-height: 16px; background: transparent none repeat-x scroll left center; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: none; color: #fa6508; line-height: 16px; background: transparent none repeat-x scroll left center; }
#wb_element_instance1 { left: 63px; top: 20px; min-width: 240px; width: 240px; min-height: 36px; height: 36px; display: block; z-index: 189; }
#wb_element_instance2 { left: 0px; top: 10px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; z-index: 190; }
#wb_element_instance2 img { width: 60px; height: 60px; position: static; left: 0px; top: 0px; }
#wb_element_instance3 { left: 10px; top: 30px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; z-index: 186; }
#wb_element_instance4 { left: 10px; top: 57px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; z-index: 187; }
#wb_element_instance5 { left: 270px; top: 10px; min-width: 20px; width: 20px; min-height: 20px; height: 20px; display: block; z-index: 197; overflow: hidden; }
#wb_element_instance5 img { width: 28px; height: 28px; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance6 { left: 270px; top: 50px; min-width: 20px; width: 20px; min-height: 20px; height: 20px; display: block; z-index: 196; overflow: hidden; }
#wb_element_instance6 img { width: 28px; height: 28px; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance7 { left: 20px; top: 1510px; min-width: 263px; width: 263px; min-height: 90px; height: 90px; display: block; z-index: 120; }
#wb_element_instance8 { left: 20px; top: 1590px; min-width: 280px; width: 280px; min-height: 190px; height: 190px; display: block; z-index: 121; overflow: hidden; }
#wb_element_instance8 img { width: 280px; height: 212.8px; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance9 { left: 20px; top: 1800px; min-width: 280px; width: 280px; min-height: 264px; height: 264px; display: block; z-index: 122; }
#wb_element_instance10 { left: 20px; top: 460px; min-width: 286px; width: 286px; min-height: 114px; height: 114px; display: block; z-index: 134; }
#wb_element_instance11 { left: 10px; top: 1090px; min-width: 300px; width: 300px; min-height: 30px; height: 30px; display: block; z-index: 137; }
#wb_element_instance12 { left: 0px; top: 90px; min-width: 320px; width: 320px; min-height: 36px; height: 36px; display: block; z-index: 154; }
#wb_element_instance13 { left: 0px; top: 30px; min-width: 320px; width: 320px; min-height: 72px; height: 72px; display: block; z-index: 155; }
#wb_element_instance14 { left: 0px; top: 240px; min-width: 320px; width: 320px; min-height: 400px; height: 400px; display: block; z-index: 116; }
#wb_element_instance14 > div { width: 320px; height: 400px; background: #85d1fc; border: 5px none #C0C0C0; opacity: 0.9; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance15 { left: 0px; top: 650px; min-width: 320px; width: 320px; min-height: 400px; height: 400px; display: block; z-index: 117; }
#wb_element_instance15 > div { width: 320px; height: 400px; background: #bde6fc; border: 5px none #C0C0C0; opacity: 0.9; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance16 { left: 0px; top: 1060px; min-width: 320px; width: 320px; min-height: 420px; height: 420px; display: block; z-index: 114; }
#wb_element_instance16 > div { width: 320px; height: 420px; background: #edf7fc; border: 5px none #C0C0C0; opacity: 0.9; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance17 { left: 0px; top: 1490px; min-width: 320px; width: 320px; min-height: 660px; height: 660px; display: block; z-index: 113; }
#wb_element_instance17 > div { width: 320px; height: 660px; background: #5cd9ff; border: 5px none #C0C0C0; opacity: 0.95; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; }
#wb_element_instance18 { left: 0px; top: 680px; min-width: 320px; width: 320px; min-height: 30px; height: 30px; display: block; z-index: 156; }
#wb_element_instance19 { left: 10px; top: 250px; min-width: 300px; width: 300px; min-height: 30px; height: 30px; display: block; z-index: 157; }
#wb_element_instance20 { left: 40px; top: 140px; min-width: 240px; width: 240px; min-height: 60px; height: 60px; display: block; z-index: 142; }
#wb_element_instance20 .wb_button span { padding: 18px 0px 0px 0px; }
#wb_element_instance20 .wb_button { width: 240px; height: 60px; }
#wb_element_instance20 .wb_button { font-family: 'Open Sans',sans-serif; font-size: 16px; text-align: center; border: 1px solid #050505; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; background: #3ccefa none repeat-x scroll left top; }
#wb_element_instance20 .wb_button:hover { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; background: #56d669 none repeat scroll left top; }
#wb_element_instance20 .wb_button:active { color: #ffffff; font-style: normal; font-weight: bold; text-decoration: none; background: #000000 none repeat scroll left top; }
#wb_element_instance21 { left: 90px; top: 730px; min-width: 140px; width: 140px; min-height: 140px; height: 140px; display: block; z-index: 159; }
#wb_element_instance21 img { width: 140px; height: 140px; position: static; left: 0px; top: 0px; }
#wb_element_instance22 { left: 80px; top: 300px; min-width: 140px; width: 140px; min-height: 140px; height: 140px; display: block; z-index: 160; }
#wb_element_instance22 img { width: 140px; height: 140px; position: static; left: 0px; top: 0px; }
#wb_element_instance23 { left: 90px; top: 1140px; min-width: 140px; width: 140px; min-height: 140px; height: 140px; display: block; z-index: 161; }
#wb_element_instance23 img { width: 140px; height: 140px; position: static; left: 0px; top: 0px; }
#wb_element_instance24 { left: 20px; top: 890px; min-width: 290px; width: 290px; min-height: 176px; height: 176px; display: block; z-index: 162; }
#wb_element_instance25 { left: 20px; top: 1300px; min-width: 280px; width: 280px; min-height: 148px; height: 148px; display: block; z-index: 163; }
#wb_element_instance26 { left: 0px; top: 1165px; display: block; z-index: 9000; }
#wb_element_instance27 { left: 0px; top: 114px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 100px; }
	#wb_main { height: 1590px; }
	#wb_footer { height: 90px; }
	body, .wb_sbg { min-width: 768px; min-height: 1780px; }
	.root { width: 768px; height: 1780px; overflow: visible; }
	#wb_element_instance0 { left: 360px; top: 20px; min-width: 400px; width: 400px; min-height: 68px; height: 68px; display: block; }
	#wb_element_instance0 ul { background: transparent none repeat-x scroll center top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { left: 100px; top: 30px; min-width: 300px; width: 300px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance2 { left: 0px; top: 10px; min-width: 90px; width: 90px; min-height: 90px; height: 90px; display: block; }
	#wb_element_instance2 img { width: 90px; height: 90px; position: static; left: 0px; top: 0px; }
	#wb_element_instance3 { left: 20px; top: 40px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance4 { left: 170px; top: 40px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance5 { left: 680px; top: 30px; min-width: 20px; width: 20px; min-height: 20px; height: 20px; display: block; overflow: hidden; }
	#wb_element_instance5 img { width: 28px; height: 28px; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance6 { left: 720px; top: 30px; min-width: 20px; width: 20px; min-height: 20px; height: 20px; display: block; overflow: hidden; }
	#wb_element_instance6 img { width: 28px; height: 28px; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance7 { left: 20px; top: 1210px; min-width: 263px; width: 263px; min-height: 90px; height: 90px; display: block; }
	#wb_element_instance8 { left: 20px; top: 1260px; min-width: 200px; width: 200px; min-height: 250px; height: 250px; display: block; overflow: hidden; }
	#wb_element_instance8 img { width: 355.625px; height: 250px; position: relative; left: -40px; top: 0px; max-width: inherit; }
	#wb_element_instance9 { left: 250px; top: 1290px; min-width: 480px; width: 480px; min-height: 154px; height: 154px; display: block; }
	#wb_element_instance10 { left: 200px; top: 490px; min-width: 530px; width: 530px; min-height: 98px; height: 98px; display: block; }
	#wb_element_instance11 { left: 0px; top: 940px; min-width: 760px; width: 760px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance12 { left: 10px; top: 180px; min-width: 750px; width: 750px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance13 { left: 0px; top: 130px; min-width: 760px; width: 760px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance14 { left: 0px; top: 420px; min-width: 760px; width: 760px; min-height: 230px; height: 230px; display: block; }
	#wb_element_instance14 > div { width: 760px; height: 230px; }
	#wb_element_instance15 { left: 0px; top: 670px; min-width: 760px; width: 760px; min-height: 230px; height: 230px; display: block; }
	#wb_element_instance15 > div { width: 760px; height: 230px; }
	#wb_element_instance16 { left: 0px; top: 920px; min-width: 760px; width: 760px; min-height: 240px; height: 240px; display: block; }
	#wb_element_instance16 > div { width: 760px; height: 240px; }
	#wb_element_instance17 { left: 0px; top: 1180px; min-width: 760px; width: 760px; min-height: 370px; height: 370px; display: block; }
	#wb_element_instance17 > div { width: 760px; height: 370px; }
	#wb_element_instance18 { left: 0px; top: 680px; min-width: 750px; width: 750px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance19 { left: 30px; top: 440px; min-width: 700px; width: 700px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance20 { left: 250px; top: 270px; min-width: 260px; width: 260px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance20 .wb_button span { padding: 18px 0px 0px 0px; }
	#wb_element_instance20 .wb_button { width: 260px; height: 60px; }
	#wb_element_instance21 { left: 20px; top: 710px; min-width: 160px; width: 160px; min-height: 160px; height: 160px; display: block; }
	#wb_element_instance21 img { width: 160px; height: 160px; position: static; left: 0px; top: 0px; }
	#wb_element_instance22 { left: 20px; top: 470px; min-width: 160px; width: 160px; min-height: 160px; height: 160px; display: block; }
	#wb_element_instance22 img { width: 160px; height: 160px; position: static; left: 0px; top: 0px; }
	#wb_element_instance23 { left: 20px; top: 980px; min-width: 160px; width: 160px; min-height: 160px; height: 160px; display: block; }
	#wb_element_instance23 img { width: 160px; height: 160px; position: static; left: 0px; top: 0px; }
	#wb_element_instance24 { left: 200px; top: 750px; min-width: 540px; width: 540px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance25 { left: 210px; top: 1010px; min-width: 520px; width: 520px; min-height: 129px; height: 129px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 100px; }
	#wb_main { height: 1185px; }
	#wb_footer { height: 90px; }
	body, .wb_sbg { min-width: 992px; min-height: 1375px; }
	.root { width: 992px; height: 1375px; overflow: visible; }
	#wb_element_instance0 { left: 338px; top: 20px; min-width: 642px; width: 642px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance0 ul { background: transparent none repeat-x scroll center top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { left: 70px; top: 20px; min-width: 390px; width: 390px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance2 { left: 0px; top: 20px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance2 img { width: 60px; height: 60px; position: static; left: 0px; top: 0px; }
	#wb_element_instance3 { left: 420px; top: 50px; min-width: 312px; width: 312px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance4 { left: 450px; top: 70px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance5 { left: 880px; top: 40px; min-width: 40px; width: 40px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance5 img { width: 40px; height: 40px; position: static; left: 0px; top: 0px; }
	#wb_element_instance6 { left: 930px; top: 40px; min-width: 40px; width: 40px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance6 img { width: 40px; height: 40px; position: static; left: 0px; top: 0px; }
	#wb_element_instance7 { left: 30px; top: 865px; min-width: 790px; width: 790px; min-height: 39px; height: 39px; display: block; }
	#wb_element_instance8 { left: 20px; top: 905px; min-width: 280px; width: 280px; min-height: 220px; height: 220px; display: block; overflow: hidden; }
	#wb_element_instance8 img { width: 289px; height: 220px; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance9 { left: 310px; top: 955px; min-width: 645px; width: 645px; min-height: 154px; height: 154px; display: block; }
	#wb_element_instance10 { left: 20px; top: 640px; min-width: 286px; width: 286px; min-height: 129px; height: 129px; display: block; }
	#wb_element_instance11 { left: 670px; top: 440px; min-width: 320px; width: 320px; min-height: 39px; height: 39px; display: block; }
	#wb_element_instance12 { left: 0px; top: 160px; min-width: 990px; width: 990px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance13 { left: 0px; top: 110px; min-width: 990px; width: 990px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance14 { left: 0px; top: 420px; min-width: 320px; width: 320px; min-height: 400px; height: 400px; display: block; }
	#wb_element_instance14 > div { width: 320px; height: 400px; }
	#wb_element_instance15 { left: 335px; top: 420px; min-width: 320px; width: 320px; min-height: 400px; height: 400px; display: block; }
	#wb_element_instance15 > div { width: 320px; height: 400px; }
	#wb_element_instance16 { left: 670px; top: 420px; min-width: 320px; width: 320px; min-height: 400px; height: 400px; display: block; }
	#wb_element_instance16 > div { width: 320px; height: 400px; }
	#wb_element_instance17 { left: 0px; top: 835px; min-width: 990px; width: 990px; min-height: 310px; height: 310px; display: block; }
	#wb_element_instance17 > div { width: 990px; height: 310px; }
	#wb_element_instance18 { left: 335px; top: 440px; min-width: 320px; width: 320px; min-height: 39px; height: 39px; display: block; }
	#wb_element_instance19 { left: 0px; top: 440px; min-width: 320px; width: 320px; min-height: 39px; height: 39px; display: block; }
	#wb_element_instance20 { left: 330px; top: 250px; min-width: 320px; width: 320px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance20 .wb_button span { padding: 22px 0px 0px 0px; }
	#wb_element_instance20 .wb_button { width: 320px; height: 70px; }
	#wb_element_instance21 { left: 420px; top: 490px; min-width: 140px; width: 140px; min-height: 140px; height: 140px; display: block; }
	#wb_element_instance21 img { width: 140px; height: 140px; position: static; left: 0px; top: 0px; }
	#wb_element_instance22 { left: 80px; top: 490px; min-width: 140px; width: 140px; min-height: 140px; height: 140px; display: block; }
	#wb_element_instance22 img { width: 140px; height: 140px; position: static; left: 0px; top: 0px; }
	#wb_element_instance23 { left: 760px; top: 490px; min-width: 140px; width: 140px; min-height: 140px; height: 140px; display: block; }
	#wb_element_instance23 img { width: 140px; height: 140px; position: static; left: 0px; top: 0px; }
	#wb_element_instance24 { left: 355px; top: 640px; min-width: 280px; width: 280px; min-height: 176px; height: 176px; display: block; }
	#wb_element_instance25 { left: 690px; top: 640px; min-width: 280px; width: 280px; min-height: 162px; height: 162px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 100px; }
	#wb_main { height: 1406px; }
	#wb_footer { height: 90px; }
	body, .wb_sbg { min-width: 1200px; min-height: 1596px; }
	.root { width: 1200px; height: 1596px; overflow: visible; }
	#wb_element_instance0 { left: 760px; top: 20px; min-width: 440px; width: 440px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance0 ul { background: transparent none repeat-x scroll center top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { left: 100px; top: 15px; min-width: 290px; width: 290px; min-height: 72px; height: 72px; display: block; }
	#wb_element_instance2 { left: 0px; top: 10px; min-width: 80px; width: 80px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance2 img { width: 80px; height: 80px; position: static; left: 0px; top: 0px; }
	#wb_element_instance3 { left: 10px; top: 40px; min-width: 160px; width: 160px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance4 { left: 160px; top: 40px; min-width: 107px; width: 107px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance5 { left: 1120px; top: 40px; min-width: 28px; width: 28px; min-height: 28px; height: 28px; display: block; }
	#wb_element_instance5 img { width: 28px; height: 28px; position: static; left: 0px; top: 0px; }
	#wb_element_instance6 { left: 1165px; top: 40px; min-width: 28px; width: 28px; min-height: 28px; height: 28px; display: block; }
	#wb_element_instance6 img { width: 28px; height: 28px; position: static; left: 0px; top: 0px; }
	#wb_element_instance7 { left: 30px; top: 940px; min-width: 530px; width: 530px; min-height: 76px; height: 76px; display: block; }
	#wb_element_instance8 { left: 30px; top: 1010px; min-width: 440px; width: 440px; min-height: 300px; height: 300px; display: block; overflow: hidden; }
	#wb_element_instance8 img { width: 460px; height: 310px; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance9 { left: 510px; top: 1080px; min-width: 640px; width: 640px; min-height: 154px; height: 154px; display: block; }
	#wb_element_instance10 { left: 30px; top: 680px; min-width: 320px; width: 320px; min-height: 122px; height: 122px; display: block; }
	#wb_element_instance11 { left: 819px; top: 440px; min-width: 370px; width: 370px; min-height: 38px; height: 38px; display: block; }
	#wb_element_instance12 { left: 0px; top: 190px; min-width: 1200px; width: 1200px; min-height: 72px; height: 72px; display: block; }
	#wb_element_instance13 { left: 0px; top: 130px; min-width: 1200px; width: 1200px; min-height: 72px; height: 72px; display: block; }
	#wb_element_instance14 { left: 0px; top: 420px; min-width: 370px; width: 370px; min-height: 440px; height: 440px; display: block; }
	#wb_element_instance14 > div { width: 370px; height: 440px; }
	#wb_element_instance15 { left: 405px; top: 420px; min-width: 370px; width: 370px; min-height: 440px; height: 440px; display: block; }
	#wb_element_instance15 > div { width: 370px; height: 440px; }
	#wb_element_instance16 { left: 809px; top: 420px; min-width: 390px; width: 390px; min-height: 440px; height: 440px; display: block; }
	#wb_element_instance16 > div { width: 390px; height: 440px; }
	#wb_element_instance17 { left: 0px; top: 896px; min-width: 1200px; width: 1200px; min-height: 470px; height: 470px; display: block; }
	#wb_element_instance17 > div { width: 1200px; height: 470px; }
	#wb_element_instance18 { left: 415px; top: 440px; min-width: 350px; width: 350px; min-height: 38px; height: 38px; display: block; }
	#wb_element_instance19 { left: 0px; top: 440px; min-width: 360px; width: 360px; min-height: 38px; height: 38px; display: block; }
	#wb_element_instance20 { left: 490px; top: 290px; min-width: 230px; width: 230px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance20 .wb_button span { padding: 23px 0px 0px 0px; }
	#wb_element_instance20 .wb_button { width: 230px; height: 70px; }
	#wb_element_instance21 { left: 510px; top: 500px; min-width: 160px; width: 160px; min-height: 160px; height: 160px; display: block; }
	#wb_element_instance21 img { width: 160px; height: 160px; position: static; left: 0px; top: 0px; }
	#wb_element_instance22 { left: 100px; top: 500px; min-width: 160px; width: 160px; min-height: 160px; height: 160px; display: block; }
	#wb_element_instance22 img { width: 160px; height: 160px; position: static; left: 0px; top: 0px; }
	#wb_element_instance23 { left: 929px; top: 500px; min-width: 160px; width: 160px; min-height: 160px; height: 160px; display: block; }
	#wb_element_instance23 img { width: 160px; height: 160px; position: static; left: 0px; top: 0px; }
	#wb_element_instance24 { left: 435px; top: 680px; min-width: 320px; width: 320px; min-height: 154px; height: 154px; display: block; }
	#wb_element_instance25 { left: 839px; top: 680px; min-width: 330px; width: 330px; min-height: 170px; height: 170px; display: block; }
}
