#wb_header { background: transparent none repeat scroll left top; height: 160px; }
#wb_header { height: 230px; }
#wb_main { background: #ffffff none repeat-x scroll left top; height: 766px; padding: 0 0 60px 0; }
#wb_main { height: 1877px; }
#wb_footer { background: transparent none repeat scroll left top; height: 90px; }
#wb_footer { height: 90px; }
body { background: transparent url("../gallery_gen/cfb5c45c52aac9e211fe7add740fd5a4.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/7cf545ba173ce794135f199c29664142.jpg") repeat-x scroll center top; }
body, .wb_sbg { min-width: 320px; min-height: 2197px; }
.root { width: 320px; height: 2197px; overflow: hidden; }
#wb_element_instance28 { left: 0px; top: 50px; min-width: 310px; width: 310px; min-height: 40px; height: 40px; display: block; z-index: 191; }
#wb_element_instance28 ul { background: #ffffff none repeat scroll left top; }
#wb_element_instance28 .btn-collapser { display: inline-block; }
#wb_element_instance28 > ul { display: none; }
#wb_element_instance28.collapse-expanded > ul { display: block; float: none; height: auto; }
#wb_element_instance28.collapse-expanded > ul > li { display: block; }
#wb_element_instance28.collapse-expanded > ul > li > ul { position: static; }
#wb_element_instance28.collapse-expanded > ul > li.active > ul { display: block!important; }
#wb_element_instance28.collapse-expanded > ul > li:hover > ul { display: none; }
#wb_element_instance28 ul { border: 0px none #000000; }
#wb_element_instance28, #wb_element_instance28 ul { text-align: right; }
#wb_element_instance28 ul ul { background: transparent none repeat-x scroll left top; }
#wb_element_instance28 li { margin: 0px 0px 0px 0px; }
#wb_element_instance28 li a { text-transform: uppercase; border: 0px none #000000; padding: 25px 39px 25px 39px; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: none; color: #3ea9eb; line-height: 16px; background: transparent none no-repeat scroll right center; }
#wb_element_instance28 li:hover > a, #wb_element_instance28 li:focus > a { border: 0px none #000000; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: none; color: #ff6200; line-height: 16px; background: transparent none repeat-x scroll left center; }
#wb_element_instance28 li.active > a { border: 0px none #000000; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: none; color: #fa6508; line-height: 16px; background: transparent none repeat-x scroll left center; }
#wb_element_instance29 { left: 63px; top: 20px; min-width: 240px; width: 240px; min-height: 36px; height: 36px; display: block; z-index: 189; }
#wb_element_instance30 { left: 0px; top: 10px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; z-index: 190; }
#wb_element_instance30 img { width: 60px; height: 60px; position: static; left: 0px; top: 0px; }
#wb_element_instance31 { left: 10px; top: 30px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; z-index: 186; }
#wb_element_instance32 { left: 10px; top: 57px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; z-index: 187; }
#wb_element_instance33 { left: 270px; top: 10px; min-width: 20px; width: 20px; min-height: 20px; height: 20px; display: block; z-index: 197; overflow: hidden; }
#wb_element_instance33 img { width: 28px; height: 28px; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance34 { left: 270px; top: 50px; min-width: 20px; width: 20px; min-height: 20px; height: 20px; display: block; z-index: 196; overflow: hidden; }
#wb_element_instance34 img { width: 28px; height: 28px; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance35 { left: 20px; top: 20px; min-width: 210px; width: 210px; min-height: 24px; height: 24px; display: block; z-index: 54; }
#wb_element_instance36 { left: 20px; top: 280px; min-width: 290px; width: 290px; min-height: 330px; height: 330px; display: block; z-index: 55; }
#wb_element_instance37 { left: 20px; top: 100px; min-width: 280px; width: 280px; min-height: 160px; height: 160px; display: block; z-index: 62; overflow: hidden; }
#wb_element_instance37 img { width: 280px; height: 190px; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance38 { left: 20px; top: 890px; min-width: 300px; width: 300px; min-height: 330px; height: 330px; display: block; z-index: 45; }
#wb_element_instance39 { left: 20px; top: 680px; min-width: 290px; width: 290px; min-height: 190px; height: 190px; display: block; z-index: 63; overflow: hidden; }
#wb_element_instance39 img { width: 290px; height: 220px; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance40 { left: 20px; top: 1290px; min-width: 290px; width: 290px; min-height: 180px; height: 180px; display: block; z-index: 64; overflow: hidden; }
#wb_element_instance40 img { width: 290px; height: 220px; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance41 { left: 20px; top: 1487px; min-width: 290px; width: 290px; min-height: 330px; height: 330px; display: block; z-index: 47; }
#wb_element_instance42 { left: 20px; top: 60px; min-width: 290px; width: 290px; min-height: 24px; height: 24px; display: block; z-index: 65; }
#wb_element_instance43 { left: 20px; top: 640px; min-width: 290px; width: 290px; min-height: 24px; height: 24px; display: block; z-index: 66; }
#wb_element_instance44 { left: 20px; top: 1250px; min-width: 290px; width: 290px; min-height: 24px; height: 24px; display: block; z-index: 67; }
#wb_element_instance45 { left: 313px; top: 220px; min-width: 200px; width: 200px; min-height: 30px; height: 30px; display: block; z-index: 68; }
#wb_element_instance46 { left: 310px; top: 260px; min-width: 640px; width: 640px; min-height: 66px; height: 66px; display: block; z-index: 69; }
#wb_element_instance47 { left: 0px; top: 786px; display: block; z-index: 9000; }
#wb_element_instance48 { left: 0px; top: 114px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 230px; }
	#wb_main { height: 1007px; }
	#wb_footer { height: 90px; }
	body, .wb_sbg { min-width: 768px; min-height: 1327px; }
	.root { width: 768px; height: 1327px; overflow: visible; }
	#wb_element_instance28 { left: 360px; top: 20px; min-width: 400px; width: 400px; min-height: 68px; height: 68px; display: block; }
	#wb_element_instance28 ul { background: transparent none repeat-x scroll center top; }
	#wb_element_instance28 .btn-collapser { display: none; }
	#wb_element_instance28 > ul { display: block; }
	#wb_element_instance29 { left: 100px; top: 30px; min-width: 300px; width: 300px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance30 { left: 0px; top: 10px; min-width: 90px; width: 90px; min-height: 90px; height: 90px; display: block; }
	#wb_element_instance30 img { width: 90px; height: 90px; position: static; left: 0px; top: 0px; }
	#wb_element_instance31 { left: 20px; top: 40px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance32 { left: 170px; top: 40px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance33 { left: 680px; top: 30px; min-width: 20px; width: 20px; min-height: 20px; height: 20px; display: block; overflow: hidden; }
	#wb_element_instance33 img { width: 28px; height: 28px; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance34 { left: 720px; top: 30px; min-width: 20px; width: 20px; min-height: 20px; height: 20px; display: block; overflow: hidden; }
	#wb_element_instance34 img { width: 28px; height: 28px; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance35 { left: 30px; top: 30px; min-width: 210px; width: 210px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance36 { left: 310px; top: 123px; min-width: 440px; width: 440px; min-height: 220px; height: 220px; display: block; }
	#wb_element_instance37 { left: 30px; top: 90px; min-width: 250px; width: 250px; min-height: 190px; height: 190px; display: block; }
	#wb_element_instance37 img { width: 250px; height: 190px; position: static; left: 0px; top: 0px; }
	#wb_element_instance38 { left: 30px; top: 420px; min-width: 450px; width: 450px; min-height: 220px; height: 220px; display: block; }
	#wb_element_instance39 { left: 500px; top: 400px; min-width: 250px; width: 250px; min-height: 190px; height: 190px; display: block; }
	#wb_element_instance39 img { width: 250px; height: 190px; position: static; left: 0px; top: 0px; }
	#wb_element_instance40 { left: 30px; top: 690px; min-width: 250px; width: 250px; min-height: 190px; height: 190px; display: block; }
	#wb_element_instance40 img { width: 250px; height: 190px; position: static; left: 0px; top: 0px; }
	#wb_element_instance41 { left: 310px; top: 727px; min-width: 440px; width: 440px; min-height: 220px; height: 220px; display: block; }
	#wb_element_instance42 { left: 310px; top: 90px; min-width: 420px; width: 420px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance43 { left: 30px; top: 390px; min-width: 330px; width: 330px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance44 { left: 310px; top: 687px; min-width: 420px; width: 420px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 160px; }
	#wb_main { height: 826px; }
	#wb_footer { height: 90px; }
	body, .wb_sbg { min-width: 992px; min-height: 1076px; }
	.root { width: 992px; height: 1076px; overflow: visible; }
	#wb_element_instance28 { left: 338px; top: 20px; min-width: 642px; width: 642px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance28 ul { background: transparent none repeat-x scroll center top; }
	#wb_element_instance28 .btn-collapser { display: none; }
	#wb_element_instance28 > ul { display: block; }
	#wb_element_instance29 { left: 70px; top: 20px; min-width: 390px; width: 390px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance30 { left: 0px; top: 20px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance30 img { width: 60px; height: 60px; position: static; left: 0px; top: 0px; }
	#wb_element_instance31 { left: 420px; top: 50px; min-width: 312px; width: 312px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance32 { left: 450px; top: 70px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance33 { left: 880px; top: 40px; min-width: 40px; width: 40px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance33 img { width: 40px; height: 40px; position: static; left: 0px; top: 0px; }
	#wb_element_instance34 { left: 930px; top: 40px; min-width: 40px; width: 40px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance34 img { width: 40px; height: 40px; position: static; left: 0px; top: 0px; }
	#wb_element_instance35 { left: 30px; top: 30px; min-width: 940px; width: 940px; min-height: 39px; height: 39px; display: block; }
	#wb_element_instance36 { left: 310px; top: 140px; min-width: 642px; width: 642px; min-height: 66px; height: 66px; display: block; }
	#wb_element_instance37 { left: 30px; top: 100px; min-width: 252px; width: 252px; min-height: 195px; height: 195px; display: block; }
	#wb_element_instance37 img { width: 252px; height: 195px; position: static; left: 0px; top: 0px; }
	#wb_element_instance38 { left: 30px; top: 360px; min-width: 642px; width: 642px; min-height: 154px; height: 154px; display: block; }
	#wb_element_instance39 { left: 700px; top: 320px; min-width: 252px; width: 252px; min-height: 198px; height: 198px; display: block; }
	#wb_element_instance39 img { width: 252px; height: 198px; position: static; left: 0px; top: 0px; }
	#wb_element_instance40 { left: 30px; top: 568px; min-width: 252px; width: 252px; min-height: 198px; height: 198px; display: block; }
	#wb_element_instance40 img { width: 252px; height: 198px; position: static; left: 0px; top: 0px; }
	#wb_element_instance41 { left: 310px; top: 650px; min-width: 650px; width: 650px; min-height: 88px; height: 88px; display: block; }
	#wb_element_instance42 { left: 310px; top: 100px; min-width: 420px; width: 420px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance43 { left: 30px; top: 320px; min-width: 330px; width: 330px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance44 { left: 310px; top: 570px; min-width: 650px; width: 650px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance45 { left: 313px; top: 220px; min-width: 200px; width: 200px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance46 { left: 310px; top: 260px; min-width: 640px; width: 640px; min-height: 66px; height: 66px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 230px; }
	#wb_main { height: 834px; }
	#wb_footer { height: 90px; }
	body, .wb_sbg { min-width: 1200px; min-height: 1154px; }
	.root { width: 1200px; height: 1154px; overflow: visible; }
	#wb_element_instance28 { left: 760px; top: 20px; min-width: 440px; width: 440px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance28 ul { background: transparent none repeat-x scroll center top; }
	#wb_element_instance28 .btn-collapser { display: none; }
	#wb_element_instance28 > ul { display: block; }
	#wb_element_instance29 { left: 100px; top: 15px; min-width: 290px; width: 290px; min-height: 72px; height: 72px; display: block; }
	#wb_element_instance30 { left: 0px; top: 10px; min-width: 80px; width: 80px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance30 img { width: 80px; height: 80px; position: static; left: 0px; top: 0px; }
	#wb_element_instance31 { left: 10px; top: 40px; min-width: 160px; width: 160px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance32 { left: 160px; top: 40px; min-width: 107px; width: 107px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance33 { left: 1120px; top: 40px; min-width: 28px; width: 28px; min-height: 28px; height: 28px; display: block; }
	#wb_element_instance33 img { width: 28px; height: 28px; position: static; left: 0px; top: 0px; }
	#wb_element_instance34 { left: 1165px; top: 40px; min-width: 28px; width: 28px; min-height: 28px; height: 28px; display: block; }
	#wb_element_instance34 img { width: 28px; height: 28px; position: static; left: 0px; top: 0px; }
	#wb_element_instance35 { left: 40px; top: 40px; min-width: 210px; width: 210px; min-height: 38px; height: 38px; display: block; }
	#wb_element_instance36 { left: 320px; top: 160px; min-width: 820px; width: 820px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance37 { left: 40px; top: 100px; min-width: 252px; width: 252px; min-height: 195px; height: 195px; display: block; }
	#wb_element_instance37 img { width: 252px; height: 195px; position: static; left: 0px; top: 0px; }
	#wb_element_instance38 { left: 40px; top: 380px; min-width: 810px; width: 810px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance39 { left: 900px; top: 330px; min-width: 252px; width: 252px; min-height: 198px; height: 198px; display: block; }
	#wb_element_instance39 img { width: 252px; height: 198px; position: static; left: 0px; top: 0px; }
	#wb_element_instance40 { left: 40px; top: 560px; min-width: 252px; width: 252px; min-height: 198px; height: 198px; display: block; }
	#wb_element_instance40 img { width: 252px; height: 198px; position: static; left: 0px; top: 0px; }
	#wb_element_instance41 { left: 320px; top: 620px; min-width: 840px; width: 840px; min-height: 110px; height: 110px; display: block; }
	#wb_element_instance42 { left: 320px; top: 98px; min-width: 420px; width: 420px; min-height: 36px; height: 36px; display: block; }
	#wb_element_instance43 { left: 40px; top: 320px; min-width: 330px; width: 330px; min-height: 36px; height: 36px; display: block; }
	#wb_element_instance44 { left: 320px; top: 560px; min-width: 420px; width: 420px; min-height: 36px; height: 36px; display: block; }
}
