#wb_header { background: transparent none repeat scroll left top; height: 160px; }
#wb_header { height: 230px; }
#wb_main { background: #ffffff none repeat scroll left top; height: 680px; padding: 0 0 60px 0; }
#wb_main { height: 880px; }
#wb_footer { background: transparent none repeat-x scroll left top; height: 149px; }
#wb_footer { height: 100px; }
body { background: transparent url("../gallery_gen/cfb5c45c52aac9e211fe7add740fd5a4.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/7cf545ba173ce794135f199c29664142.jpg") repeat-x scroll center top; }
body, .wb_sbg { min-width: 320px; min-height: 1210px; }
.root { width: 320px; height: 1210px; overflow: hidden; }
#wb_element_instance49 { left: 0px; top: 50px; min-width: 310px; width: 310px; min-height: 40px; height: 40px; display: block; z-index: 191; }
#wb_element_instance49 ul { background: #ffffff none repeat scroll left top; }
#wb_element_instance49 .btn-collapser { display: inline-block; }
#wb_element_instance49 > ul { display: none; }
#wb_element_instance49.collapse-expanded > ul { display: block; float: none; height: auto; }
#wb_element_instance49.collapse-expanded > ul > li { display: block; }
#wb_element_instance49.collapse-expanded > ul > li > ul { position: static; }
#wb_element_instance49.collapse-expanded > ul > li.active > ul { display: block!important; }
#wb_element_instance49.collapse-expanded > ul > li:hover > ul { display: none; }
#wb_element_instance49 ul { border: 0px none #000000; }
#wb_element_instance49, #wb_element_instance49 ul { text-align: right; }
#wb_element_instance49 ul ul { background: transparent none repeat-x scroll left top; }
#wb_element_instance49 li { margin: 0px 0px 0px 0px; }
#wb_element_instance49 li a { text-transform: uppercase; border: 0px none #000000; padding: 25px 39px 25px 39px; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: none; color: #3ea9eb; line-height: 16px; background: transparent none no-repeat scroll right center; }
#wb_element_instance49 li:hover > a, #wb_element_instance49 li:focus > a { border: 0px none #000000; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: none; color: #ff6200; line-height: 16px; background: transparent none repeat-x scroll left center; }
#wb_element_instance49 li.active > a { border: 0px none #000000; font: normal bold 14px 'Open Sans',sans-serif; text-decoration: none; color: #fa6508; line-height: 16px; background: transparent none repeat-x scroll left center; }
#wb_element_instance50 { left: 63px; top: 20px; min-width: 240px; width: 240px; min-height: 36px; height: 36px; display: block; z-index: 189; }
#wb_element_instance51 { left: 0px; top: 10px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; z-index: 190; }
#wb_element_instance51 img { width: 60px; height: 60px; position: static; left: 0px; top: 0px; }
#wb_element_instance52 { left: 10px; top: 30px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; z-index: 186; }
#wb_element_instance53 { left: 10px; top: 57px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; z-index: 187; }
#wb_element_instance54 { left: 270px; top: 10px; min-width: 20px; width: 20px; min-height: 20px; height: 20px; display: block; z-index: 197; overflow: hidden; }
#wb_element_instance54 img { width: 28px; height: 28px; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance55 { left: 270px; top: 50px; min-width: 20px; width: 20px; min-height: 20px; height: 20px; display: block; z-index: 196; overflow: hidden; }
#wb_element_instance55 img { width: 28px; height: 28px; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance56 { left: 20px; top: 20px; min-width: 290px; width: 290px; min-height: 30px; height: 30px; display: block; z-index: 37; }
#wb_element_instance57 { left: 20px; top: 80px; min-width: 280px; width: 280px; min-height: 132px; height: 132px; display: block; z-index: 39; }
#wb_element_instance58 { left: 20px; top: 570px; min-width: 280px; width: 280px; min-height: 250px; height: 250px; display: block; z-index: 42; }
#wb_element_instance58 form .form-field { width: 221px; }
#wb_element_instance58 form .form-area-field { height: 136px; }
#wb_element_instance58 form td { text-align: right; }
#wb_element_instance58 form tr.area-row > th { height: 1%; }
#wb_element_instance58 form tr.area-row > td { height: 1%; }
#wb_element_instance58 form tr.form-footer > td { height: 20px; }
#wb_element_instance59 { left: 20px; top: 250px; min-width: 280px; width: 280px; min-height: 290px; height: 290px; display: block; z-index: 43; }
#wb_element_instance60 { left: 0px; top: 700px; display: block; z-index: 9000; }
#wb_element_instance61 { left: 0px; top: 114px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 230px; }
	#wb_main { height: 730px; }
	#wb_footer { height: 100px; }
	body, .wb_sbg { min-width: 768px; min-height: 1060px; }
	.root { width: 768px; height: 1060px; overflow: visible; }
	#wb_element_instance49 { left: 360px; top: 20px; min-width: 400px; width: 400px; min-height: 68px; height: 68px; display: block; }
	#wb_element_instance49 ul { background: transparent none repeat-x scroll center top; }
	#wb_element_instance49 .btn-collapser { display: none; }
	#wb_element_instance49 > ul { display: block; }
	#wb_element_instance50 { left: 100px; top: 30px; min-width: 300px; width: 300px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance51 { left: 0px; top: 10px; min-width: 90px; width: 90px; min-height: 90px; height: 90px; display: block; }
	#wb_element_instance51 img { width: 90px; height: 90px; position: static; left: 0px; top: 0px; }
	#wb_element_instance52 { left: 20px; top: 40px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance53 { left: 170px; top: 40px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance54 { left: 680px; top: 30px; min-width: 20px; width: 20px; min-height: 20px; height: 20px; display: block; overflow: hidden; }
	#wb_element_instance54 img { width: 28px; height: 28px; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance55 { left: 720px; top: 30px; min-width: 20px; width: 20px; min-height: 20px; height: 20px; display: block; overflow: hidden; }
	#wb_element_instance55 img { width: 28px; height: 28px; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance56 { left: 30px; top: 30px; min-width: 300px; width: 300px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance57 { left: 30px; top: 90px; min-width: 230px; width: 230px; min-height: 132px; height: 132px; display: block; }
	#wb_element_instance58 { left: 30px; top: 420px; min-width: 700px; width: 700px; min-height: 250px; height: 250px; display: block; }
	#wb_element_instance58 form .form-field { width: 641px; }
	#wb_element_instance58 form .form-area-field { height: 136px; }
	#wb_element_instance59 { left: 270px; top: 90px; min-width: 460px; width: 460px; min-height: 290px; height: 290px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 160px; }
	#wb_main { height: 740px; }
	#wb_footer { height: 149px; }
	body, .wb_sbg { min-width: 992px; min-height: 1049px; }
	.root { width: 992px; height: 1049px; overflow: visible; }
	#wb_element_instance49 { left: 338px; top: 20px; min-width: 642px; width: 642px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance49 ul { background: transparent none repeat-x scroll center top; }
	#wb_element_instance49 .btn-collapser { display: none; }
	#wb_element_instance49 > ul { display: block; }
	#wb_element_instance50 { left: 70px; top: 20px; min-width: 390px; width: 390px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance51 { left: 0px; top: 20px; min-width: 60px; width: 60px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance51 img { width: 60px; height: 60px; position: static; left: 0px; top: 0px; }
	#wb_element_instance52 { left: 420px; top: 50px; min-width: 312px; width: 312px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance53 { left: 450px; top: 70px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance54 { left: 880px; top: 40px; min-width: 40px; width: 40px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance54 img { width: 40px; height: 40px; position: static; left: 0px; top: 0px; }
	#wb_element_instance55 { left: 930px; top: 40px; min-width: 40px; width: 40px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance55 img { width: 40px; height: 40px; position: static; left: 0px; top: 0px; }
	#wb_element_instance56 { left: 30px; top: 30px; min-width: 300px; width: 300px; min-height: 38px; height: 38px; display: block; }
	#wb_element_instance57 { left: 30px; top: 101px; min-width: 230px; width: 230px; min-height: 308px; height: 308px; display: block; }
	#wb_element_instance58 { left: 30px; top: 430px; min-width: 930px; width: 930px; min-height: 250px; height: 250px; display: block; }
	#wb_element_instance58 form .form-field { width: 871px; }
	#wb_element_instance58 form .form-area-field { height: 136px; }
	#wb_element_instance59 { left: 270px; top: 100px; min-width: 680px; width: 680px; min-height: 290px; height: 290px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 230px; }
	#wb_main { height: 740px; }
	#wb_footer { height: 100px; }
	body, .wb_sbg { min-width: 1200px; min-height: 1070px; }
	.root { width: 1200px; height: 1070px; overflow: visible; }
	#wb_element_instance49 { left: 760px; top: 20px; min-width: 440px; width: 440px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance49 ul { background: transparent none repeat-x scroll center top; }
	#wb_element_instance49 .btn-collapser { display: none; }
	#wb_element_instance49 > ul { display: block; }
	#wb_element_instance50 { left: 100px; top: 15px; min-width: 290px; width: 290px; min-height: 72px; height: 72px; display: block; }
	#wb_element_instance51 { left: 0px; top: 10px; min-width: 80px; width: 80px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance51 img { width: 80px; height: 80px; position: static; left: 0px; top: 0px; }
	#wb_element_instance52 { left: 10px; top: 40px; min-width: 160px; width: 160px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance53 { left: 160px; top: 40px; min-width: 107px; width: 107px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance54 { left: 1120px; top: 40px; min-width: 28px; width: 28px; min-height: 28px; height: 28px; display: block; }
	#wb_element_instance54 img { width: 28px; height: 28px; position: static; left: 0px; top: 0px; }
	#wb_element_instance55 { left: 1165px; top: 40px; min-width: 28px; width: 28px; min-height: 28px; height: 28px; display: block; }
	#wb_element_instance55 img { width: 28px; height: 28px; position: static; left: 0px; top: 0px; }
	#wb_element_instance56 { left: 40px; top: 40px; min-width: 300px; width: 300px; min-height: 38px; height: 38px; display: block; }
	#wb_element_instance57 { left: 40px; top: 110px; min-width: 230px; width: 230px; min-height: 132px; height: 132px; display: block; }
	#wb_element_instance58 { left: 40px; top: 430px; min-width: 1110px; width: 1110px; min-height: 250px; height: 250px; display: block; }
	#wb_element_instance58 form .form-field { width: 1014px; }
	#wb_element_instance58 form .form-area-field { height: 120px; }
	#wb_element_instance59 { left: 290px; top: 110px; min-width: 860px; width: 860px; min-height: 290px; height: 290px; display: block; }
}
