.wb-stl-pagetitle { font: normal normal 18px 'Open Sans',sans-serif; color: #51b1ed; text-decoration: none; text-align: left; line-height: 36px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-pagetitle a { font: normal normal 18px 'Open Sans',sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 36px; font-weight: normal; font-style: normal; }
.wb-stl-pagetitle a:hover { font: normal normal 18px 'Open Sans',sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 36px; font-weight: normal; font-style: normal; }
.wb-stl-pagetitle ul { list-style-image: url('gallery/bullit_ee.png'); }
.wb-stl-subtitle { font: normal bold 36px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 36px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-subtitle a { font: normal bold 36px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: 36px; font-weight: normal; font-style: normal; }
.wb-stl-subtitle a:hover { font: normal bold 36px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: 36px; font-weight: normal; font-style: normal; }
.wb-stl-subtitle ul { list-style-image: url('null'); }
.wb-stl-heading1 { font: normal normal 22px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #0d0d0d; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-heading1 a { font: normal normal 22px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
.wb-stl-heading1 a:hover { font: normal normal 22px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
.wb-stl-heading1 ul { list-style-image: url('null'); }
.wb-stl-heading2 { font: normal normal 18px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #2b2b2b; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-heading2 a { font: normal normal 18px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
.wb-stl-heading2 a:hover { font: normal normal 18px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
.wb-stl-heading2 ul { list-style-image: url('null'); }
.wb-stl-heading3 { font: normal bold 14px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-heading3 a { font: normal bold 14px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
.wb-stl-heading3 a:hover { font: normal bold 14px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
.wb-stl-heading3 ul { list-style-image: url('null'); }
.wb-stl-normal { font: normal normal 16px Arial,Helvetica,sans-serif; color: #383838; text-decoration: none; text-align: left; line-height: 22px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-normal a { font: normal normal 16px Arial,Helvetica,sans-serif; color: #036aa1; text-decoration: none; text-align: left; line-height: 22px; font-weight: bold; font-style: normal; }
.wb-stl-normal a:hover { font: normal normal 16px Arial,Helvetica,sans-serif; color: #004e75; text-decoration: none; text-align: left; line-height: 22px; font-weight: bold; font-style: normal; }
.wb-stl-normal ul { list-style-image: url('gallery/energy_bullit.jpg'); }
.wb-stl-highlight { font: normal normal 18px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 14px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-highlight a { font: normal normal 18px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: 14px; font-weight: normal; font-style: normal; }
.wb-stl-highlight a:hover { font: normal normal 18px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: 14px; font-weight: normal; font-style: normal; }
.wb-stl-highlight ul { list-style-image: url('null'); }
.wb-stl-special { font: normal bold 12px Georgia,serif; text-align: left; text-decoration: underline; color: #000000; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-special a { font: normal bold 12px Georgia,serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
.wb-stl-special a:hover { font: normal bold 12px Georgia,serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
.wb-stl-special ul { list-style-image: url('null'); }
.wb-stl-footer { font: normal normal 12px Trebuchet MS,sans-serif; text-align: left; text-decoration: none; color: #575657; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-footer a { font: normal normal 12px Trebuchet MS,sans-serif; text-align: left; text-decoration: none; color: #3ea9eb; line-height: normal; font-weight: bold; font-style: normal; }
.wb-stl-footer a:hover { font: normal normal 12px Trebuchet MS,sans-serif; text-align: left; text-decoration: none; color: #2b91cc; line-height: normal; font-weight: bold; font-style: normal; }
.wb-stl-footer ul { list-style-image: url('null'); }

@media (min-width: 768px) {
	.wb-stl-pagetitle { font: normal normal 24px 'Open Sans',sans-serif; color: #51b1ed; text-decoration: none; text-align: left; line-height: 48px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-pagetitle a { font: normal normal 24px 'Open Sans',sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 48px; font-weight: normal; font-style: normal; }
	.wb-stl-pagetitle a:hover { font: normal normal 24px 'Open Sans',sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 48px; font-weight: normal; font-style: normal; }
	.wb-stl-pagetitle ul { list-style-image: url('gallery/bullit_ee.png'); }
	.wb-stl-subtitle { font: normal bold 48px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 48px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-subtitle a { font: normal bold 48px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: 48px; font-weight: normal; font-style: normal; }
	.wb-stl-subtitle a:hover { font: normal bold 48px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: 48px; font-weight: normal; font-style: normal; }
	.wb-stl-subtitle ul { list-style-image: url('null'); }
	.wb-stl-heading1 { font: normal normal 22px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #0d0d0d; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading1 a { font: normal normal 22px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-heading1 a:hover { font: normal normal 22px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-heading1 ul { list-style-image: url('null'); }
	.wb-stl-heading2 { font: normal normal 18px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #2b2b2b; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading2 a { font: normal normal 18px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-heading2 a:hover { font: normal normal 18px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-heading2 ul { list-style-image: url('null'); }
	.wb-stl-heading3 { font: normal bold 14px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading3 a { font: normal bold 14px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-heading3 a:hover { font: normal bold 14px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-heading3 ul { list-style-image: url('null'); }
	.wb-stl-normal { font: normal normal 16px Arial,Helvetica,sans-serif; color: #383838; text-decoration: none; text-align: left; line-height: 22px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-normal a { font: normal normal 16px Arial,Helvetica,sans-serif; color: #036aa1; text-decoration: none; text-align: left; line-height: 22px; font-weight: bold; font-style: normal; }
	.wb-stl-normal a:hover { font: normal normal 16px Arial,Helvetica,sans-serif; color: #004e75; text-decoration: none; text-align: left; line-height: 22px; font-weight: bold; font-style: normal; }
	.wb-stl-normal ul { list-style-image: url('gallery/energy_bullit.jpg'); }
	.wb-stl-highlight { font: normal normal 24px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 18px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-highlight a { font: normal normal 24px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: 18px; font-weight: normal; font-style: normal; }
	.wb-stl-highlight a:hover { font: normal normal 24px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: 18px; font-weight: normal; font-style: normal; }
	.wb-stl-highlight ul { list-style-image: url('null'); }
	.wb-stl-special { font: normal bold 12px Georgia,serif; text-align: left; text-decoration: underline; color: #000000; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-special a { font: normal bold 12px Georgia,serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-special a:hover { font: normal bold 12px Georgia,serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-special ul { list-style-image: url('null'); }
	.wb-stl-footer { font: normal normal 12px Trebuchet MS,sans-serif; text-align: left; text-decoration: none; color: #575657; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-footer a { font: normal normal 12px Trebuchet MS,sans-serif; text-align: left; text-decoration: none; color: #3ea9eb; line-height: normal; font-weight: bold; font-style: normal; }
	.wb-stl-footer a:hover { font: normal normal 12px Trebuchet MS,sans-serif; text-align: left; text-decoration: none; color: #2b91cc; line-height: normal; font-weight: bold; font-style: normal; }
	.wb-stl-footer ul { list-style-image: url('null'); }
}

@media (min-width: 992px) {
	.wb-stl-pagetitle { font: normal normal 30px 'Open Sans',sans-serif; color: #51b1ed; text-decoration: none; text-align: left; line-height: 60px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-pagetitle a { font: normal normal 30px 'Open Sans',sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 60px; font-weight: normal; font-style: normal; }
	.wb-stl-pagetitle a:hover { font: normal normal 30px 'Open Sans',sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 60px; font-weight: normal; font-style: normal; }
	.wb-stl-pagetitle ul { list-style-image: url('gallery/bullit_ee.png'); }
	.wb-stl-subtitle { font: normal bold 60px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 60px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-subtitle a { font: normal bold 60px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: 60px; font-weight: normal; font-style: normal; }
	.wb-stl-subtitle a:hover { font: normal bold 60px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: 60px; font-weight: normal; font-style: normal; }
	.wb-stl-subtitle ul { list-style-image: url('null'); }
	.wb-stl-heading1 { font: normal normal 28px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #0d0d0d; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading1 a { font: normal normal 28px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-heading1 a:hover { font: normal normal 28px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-heading1 ul { list-style-image: url('null'); }
	.wb-stl-heading2 { font: normal normal 22px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #2b2b2b; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading2 a { font: normal normal 22px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-heading2 a:hover { font: normal normal 22px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-heading2 ul { list-style-image: url('null'); }
	.wb-stl-heading3 { font: normal bold 18px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading3 a { font: normal bold 18px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-heading3 a:hover { font: normal bold 18px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-heading3 ul { list-style-image: url('null'); }
	.wb-stl-normal { font: normal normal 16px Arial,Helvetica,sans-serif; color: #383838; text-decoration: none; text-align: left; line-height: 22px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-normal a { font: normal normal 16px Arial,Helvetica,sans-serif; color: #036aa1; text-decoration: none; text-align: left; line-height: 22px; font-weight: bold; font-style: normal; }
	.wb-stl-normal a:hover { font: normal normal 16px Arial,Helvetica,sans-serif; color: #004e75; text-decoration: none; text-align: left; line-height: 22px; font-weight: bold; font-style: normal; }
	.wb-stl-normal ul { list-style-image: url('gallery/energy_bullit.jpg'); }
	.wb-stl-highlight { font: normal normal 30px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 22px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-highlight a { font: normal normal 30px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: 22px; font-weight: normal; font-style: normal; }
	.wb-stl-highlight a:hover { font: normal normal 30px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: 22px; font-weight: normal; font-style: normal; }
	.wb-stl-highlight ul { list-style-image: url('null'); }
	.wb-stl-special { font: normal bold 12px Georgia,serif; text-align: left; text-decoration: underline; color: #000000; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-special a { font: normal bold 12px Georgia,serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-special a:hover { font: normal bold 12px Georgia,serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-special ul { list-style-image: url('null'); }
	.wb-stl-footer { font: normal normal 12px Trebuchet MS,sans-serif; text-align: left; text-decoration: none; color: #575657; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-footer a { font: normal normal 12px Trebuchet MS,sans-serif; text-align: left; text-decoration: none; color: #3ea9eb; line-height: normal; font-weight: bold; font-style: normal; }
	.wb-stl-footer a:hover { font: normal normal 12px Trebuchet MS,sans-serif; text-align: left; text-decoration: none; color: #2b91cc; line-height: normal; font-weight: bold; font-style: normal; }
	.wb-stl-footer ul { list-style-image: url('null'); }
}

@media (min-width: 1200px) {
	.wb-stl-pagetitle { font: normal normal 36px 'Open Sans',sans-serif; color: #51b1ed; text-decoration: none; text-align: left; line-height: 72px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-pagetitle a { font: normal normal 36px 'Open Sans',sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 72px; font-weight: normal; font-style: normal; }
	.wb-stl-pagetitle a:hover { font: normal normal 36px 'Open Sans',sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 72px; font-weight: normal; font-style: normal; }
	.wb-stl-pagetitle ul { list-style-image: url('gallery/bullit_ee.png'); }
	.wb-stl-subtitle { font: normal bold 72px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 72px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-subtitle a { font: normal bold 72px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: 72px; font-weight: normal; font-style: normal; }
	.wb-stl-subtitle a:hover { font: normal bold 72px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: 72px; font-weight: normal; font-style: normal; }
	.wb-stl-subtitle ul { list-style-image: url('null'); }
	.wb-stl-heading1 { font: normal normal 28px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #0d0d0d; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading1 a { font: normal normal 28px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-heading1 a:hover { font: normal normal 28px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-heading1 ul { list-style-image: url('null'); }
	.wb-stl-heading2 { font: normal normal 26px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #2b2b2b; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading2 a { font: normal normal 26px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-heading2 a:hover { font: normal normal 26px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-heading2 ul { list-style-image: url('null'); }
	.wb-stl-heading3 { font: normal bold 22px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading3 a { font: normal bold 22px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-heading3 a:hover { font: normal bold 22px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-heading3 ul { list-style-image: url('null'); }
	.wb-stl-normal { font: normal normal 16px Arial,Helvetica,sans-serif; color: #383838; text-decoration: none; text-align: left; line-height: 22px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-normal a { font: normal normal 16px Arial,Helvetica,sans-serif; color: #036aa1; text-decoration: none; text-align: left; line-height: 22px; font-weight: bold; font-style: normal; }
	.wb-stl-normal a:hover { font: normal normal 16px Arial,Helvetica,sans-serif; color: #004e75; text-decoration: none; text-align: left; line-height: 22px; font-weight: bold; font-style: normal; }
	.wb-stl-normal ul { list-style-image: url('gallery/energy_bullit.jpg'); }
	.wb-stl-highlight { font: normal normal 36px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #ffffff; line-height: 26px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-highlight a { font: normal normal 36px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: 26px; font-weight: normal; font-style: normal; }
	.wb-stl-highlight a:hover { font: normal normal 36px 'Open Sans',sans-serif; text-align: left; text-decoration: none; color: #000000; line-height: 26px; font-weight: normal; font-style: normal; }
	.wb-stl-highlight ul { list-style-image: url('null'); }
	.wb-stl-special { font: normal bold 14px Georgia,serif; text-align: left; text-decoration: underline; color: #000000; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-special a { font: normal bold 14px Georgia,serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-special a:hover { font: normal bold 14px Georgia,serif; text-align: left; text-decoration: none; color: #000000; line-height: normal; font-weight: normal; font-style: normal; }
	.wb-stl-special ul { list-style-image: url('null'); }
	.wb-stl-footer { font: normal normal 14px Trebuchet MS,sans-serif; text-align: left; text-decoration: none; color: #575657; line-height: normal; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-footer a { font: normal normal 14px Trebuchet MS,sans-serif; text-align: left; text-decoration: none; color: #3ea9eb; line-height: normal; font-weight: bold; font-style: normal; }
	.wb-stl-footer a:hover { font: normal normal 14px Trebuchet MS,sans-serif; text-align: left; text-decoration: none; color: #2b91cc; line-height: normal; font-weight: bold; font-style: normal; }
	.wb-stl-footer ul { list-style-image: url('null'); }
}
