@font-face {
	font-family: Capture it;
	src: url("fonts/Capture it.ttf");
}
@font-face {
	font-family: FontAwesome;
	src: url("fonts/fontawesome-webfont.ttf");
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTYraN7vELC11_xip9Rz-hMs.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/RjgO7rYTmqiVp7vzi-Q5UT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSoraN7vELC11_xip9Rz-hMs.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzIraN7vELC11_xip9Rz-hMs.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/EInbV5DfGHOiMmvb1Xr-horaN7vELC11_xip9Rz-hMs.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxq6JHp92iES8exGTOIyTn1A.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/xjAJXh38I15wypJXxuGMBmOb2gHztoQeulij-1lvl-8.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
	src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxl1DIE4XHZKVVbKkAUmpPQQ.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxlRROVH9Vvc8xHnAGvvgPQc.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 800;
	src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxsm6z33g0Z9rhmCMv9JmtIA.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/gk5FxslNkTTHtojXrkp-xGRqrPGLMrTi9b00I6Zi0LA.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(https://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/gk5FxslNkTTHtojXrkp-xIs99AcBDkHXW8UNgp8Ipwk.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans Condensed';
	font-style: italic;
	font-weight: 300;
	src: local('Open Sans Cond Light Italic'), local('OpenSans-CondensedLightItalic'), url(https://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/jIXlqT1WKafUSwj6s9AzV3Qd_u3WJujL0yvUZ2_uXfD3rGVtsTkPsbDajuO5ueQw.woff) format('woff');
}
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans'), local('PTSans-Regular'), url(https://themes.googleusercontent.com/static/fonts/ptsans/v6/yrzXiAvgeQQdopyG8QSg8Q.woff) format('woff');
}
@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/ptsans/v6/g46X4VH_KHOWAAa-HpnGPhsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
	font-family: 'PT Sans';
	font-style: italic;
	font-weight: 400;
	src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://themes.googleusercontent.com/static/fonts/ptsans/v6/7dSh6BcuqDLzS2qAASIeuj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
	font-family: 'PT Sans';
	font-style: italic;
	font-weight: 700;
	src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://themes.googleusercontent.com/static/fonts/ptsans/v6/lILlYDvubYemzYzN7GbLkIraN7vELC11_xip9Rz-hMs.woff) format('woff');
}
@font-face {
	font-family: 'PT Sans Caption';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans Caption'), local('PTSans-Caption'), url(https://themes.googleusercontent.com/static/fonts/ptsanscaption/v7/OXYTDOzBcXU8MTNBvBHeSfETNPRNVolBcF_UwjGq_RM.woff) format('woff');
}
@font-face {
	font-family: 'PT Sans Caption';
	font-style: normal;
	font-weight: 700;
	src: local('PT Sans Caption Bold'), local('PTSans-CaptionBold'), url(https://themes.googleusercontent.com/static/fonts/ptsanscaption/v7/Q-gJrFokeE7JydPpxASt21YMsrE0OGm1FPmk5XnVy_c.woff) format('woff');
}
@font-face {
	font-family: 'PT Sans Narrow';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(https://themes.googleusercontent.com/static/fonts/ptsansnarrow/v5/UyYrYy3ltEffJV9QueSi4S4mX3cpNo8MnLri8k21-rs.woff) format('woff');
}
@font-face {
	font-family: 'PT Sans Narrow';
	font-style: normal;
	font-weight: 700;
	src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url(https://themes.googleusercontent.com/static/fonts/ptsansnarrow/v5/Q_pTky3Sc3ubRibGToTAYigwe3ZcNEyK1ut-Sjba9Qg.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: local('Roboto Thin'), local('Roboto-Thin'), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/G1l_KMKj5pga7ZKths0iTfesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/Fl4y0QdOxyyTHEGMXX8kcT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Regular'), local('Roboto-Regular'), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/Y5yuUJGDLtmYv2_3fMB4fA.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Medium'), local('Roboto-Medium'), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/oHi30kwQWvpCWqAhzHcCSD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/isZ-wbCXNKAbnjo6_TwHTj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	src: local('Roboto Black'), local('Roboto-Black'), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/3Y_xCyt7TNunMGg0Et2pnj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 100;
	src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/5z9jpDJQqVE5bmkRqplJfhsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 300;
	src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/7m8l7TlFO-S3VkhHuR0at2Ob2gHztoQeulij-1lvl-8.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Italic'), local('Roboto-Italic'), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/m1uAalIytmLBFXF3PwhxpPesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 500;
	src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/OLffGBTaF0XFOW1gnuHF0WOb2gHztoQeulij-1lvl-8.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 700;
	src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/t6Nd4cfPRhZP44Q5QAjcC2Ob2gHztoQeulij-1lvl-8.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 900;
	src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://themes.googleusercontent.com/static/fonts/roboto/v11/bmC0pGMXrhphrZJmniIZpWOb2gHztoQeulij-1lvl-8.woff) format('woff');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://themes.googleusercontent.com/static/fonts/robotocondensed/v9/b9QBgL0iMZfDSpmcXcE8nFg5CgGLp4EYHKghg5iYRwo.woff) format('woff');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(https://themes.googleusercontent.com/static/fonts/robotocondensed/v9/Zd2E9abXLFGSr9G3YK2MsOC933fdLZhbewWVDyX-fYw.woff) format('woff');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://themes.googleusercontent.com/static/fonts/robotocondensed/v9/b9QBgL0iMZfDSpmcXcE8nANHRvH4E1CCxguZf4zS03A.woff) format('woff');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 300;
	src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(https://themes.googleusercontent.com/static/fonts/robotocondensed/v9/mg0cGfGRUERshzBlvqxeAN5W0NczHoYeR79RVkDsNTU.woff) format('woff');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(https://themes.googleusercontent.com/static/fonts/robotocondensed/v9/BP5K8ZAJv9qEbmuFp8RpJetPcIiHO7gbJ1EXQyTeBLw.woff) format('woff');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 700;
	src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(https://themes.googleusercontent.com/static/fonts/robotocondensed/v9/mg0cGfGRUERshzBlvqxeAB1Wm7TI8_m_rqugYSu8QuY.woff) format('woff');
}
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 100;
	src: local('Roboto Slab Thin'), local('RobotoSlab-Thin'), url(https://themes.googleusercontent.com/static/fonts/robotoslab/v3/MEz38VLIFL-t46JUtkIEgC6v49diG_9tVdtCNu5M0Go.woff) format('woff');
}
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(https://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJa6JHp92iES8exGTOIyTn1A.woff) format('woff');
}
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://themes.googleusercontent.com/static/fonts/robotoslab/v3/y7lebkjgREBJK96VQi37ZmOb2gHztoQeulij-1lvl-8.woff) format('woff');
}
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJVRROVH9Vvc8xHnAGvvgPQc.woff) format('woff');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), local('Exo2-Regular'), url(https://fonts.gstatic.com/s/exo2/v3/8C2PVL2WIMUnPF90ukjrZQ.woff) format('woff');
}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
}

html[lang="ar"] textarea,
html[lang="ar"] input,
html[lang="he"] textarea,
html[lang="he"] input,
html[lang="fa"] textarea,
html[lang="fa"] input {
	direction: rtl;
}
html[lang="ar"] .rtl,
html[lang="ar"] .rtl *,
html[lang="he"] .rtl,
html[lang="he"] .rtl *,
html[lang="fa"] .rtl,
html[lang="fa"] .rtl * {
	direction: rtl;
	/* text-align: right!important; */
}

html, body	{ /* height: 100%; */ height: auto; padding: 0; }
.root		{ margin: 0px auto; width: 1003px; min-height: 200px; }
.vbox		{ width: 100%; float: none; position: relative; }
.hbox		{ min-height: 100%; float: left; position: relative; }

a img		{ border: none; }

.clear	{
	display: block; float: none; clear: both; border: none; padding: 0px; margin: 0px;
	visibility: hidden; font-size: 1px; line-height: 1px;
}

.wb-state-highlight	{ background: url("../img/hlight_bg.png") repeat left top; }

.wb_container	{ position: relative; z-index: 3; }
#wb_header	{ position: relative; z-index: 4; }
#wb_header_placeholder { z-index: 4; }
#wb_sbg_placeholder { position: fixed; width: 100%; top: 0; left: 0; z-index: 4; }
#wb_header_bg { position: fixed; width: 100%; top: 0; left: 0; z-index: 4; }
.wb_header_fixed { position: fixed!important; top: 0; width: inherit; }

#wb_bgs_cont { position: absolute; width: 100%; left: 0; z-index: 3; }

.wb_container .wb_page { position: relative; box-sizing: content-box; }
.wb_container .wb_page .wb_page_anchor { position: relative; top: 0; left: 0; display: block; }

.wb_sbg		{
	position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;
	z-index: 1;
}

.wb_element	{
	position: absolute !important; min-height: 64px; min-width: 64px; left: 0px; top: 0px;
	padding: 0px; margin: 0px; display: block; overflow: visible;
}
.wb_anchor	{
	position: absolute;
}

.wb_table	{ border: none; border-collapse: collapse; }
.wb_table td	{ border: 1px solid #000; }

.wb_button	{
	display: block; padding: 0px; margin: 0px; text-align: center; text-decoration: none;
	cursor: pointer;
}
.wb_button,
.wb_button:hover,
.wb_button:active,
.wb_button:focus,
.wb_button:visited	{ outline: none !important; }
.wb_button span	{ display: block; padding: 0px; margin: 0px; }

.vmenu,
.hmenu		{
	display: block; list-style-type: none; padding: 0px; margin: 0px; width: 100%;
	height: 100%; float: left; overflow: visible;
}
.hmenu { white-space: nowrap; }
.vmenu li,
.hmenu li		{ position: relative; display: block; display: inline-block; padding: 0px; margin: 0px; }
.vmenu li		{ clear: both; display: block; }
.vmenu li a,
.hmenu li a	{ display: block; }
.vmenu ul,
.hmenu ul	{ display: none; position: absolute; margin-left: 0; padding-left: 0; left: 100%; top: 0; }
.vmenu ul li,
.hmenu ul li	{ display: block; }
.hmenu ul li:first-child,
.vmenu ul li:first-child { margin-top: 0 ! important; }
.hmenu > li > ul { left: 0; top: 100%; }
.hmenu li:hover > ul, .vmenu li:hover > ul { display: block; }
.vmenu ul a, .hmenu ul a { white-space: nowrap; max-width: 320px; overflow: hidden; text-overflow: ellipsis; }


/* Default gallery styles */
.wb_gallery			{ background: #000; width: 100%; height: 100%; overflow: hidden; }
#wb_gedit_name		{ width: 315px; }
#wb_gedit_images	{
	width: 466px; height: 300px; overflow: auto; overflow-y: scroll; background: #ffffff;
}
#wb_gedit_uploader	{ width: 120px; height: 64px; float: left; }
#wb_gedit_uploader_state {
	width: 336px; height: 64px; float: left; margin-left: 10px; overflow: auto;
}
.wb_gallery_empty	{
	background: #ffffff url("../img/gallery.empty.gif") no-repeat center center;
}

/* .gallery-image		{ background: white; padding: 5px; } */

.wb_thumb			{ float: left; padding: 3px; }
.wb_thumb img		{ max-width: none !important; }
.wb_thumb div			{ border: 1px solid #888; }

.gallery-slideshow  	{ width: 100%; height: 100%; }
.gallery-slide-image{ width: 100%; height: 100%; }
.gallery-slide-left	{
	background: url("../img/gallery.left.png") no-repeat center center;
	position: absolute; width: 32px; height: 32px; cursor: pointer;
	text-decoration: none; display: block; outline: none !important;
}
.gallery-slide-right{
	background: url("../img/gallery.right.png") no-repeat center center;
	position: absolute; width: 32px; height: 32px; cursor: pointer;
	text-decoration: none; display: block; outline: none !important;
}
.gallery-slide-left:hover	{ background-image: url("../img/gallery.left_h.png"); }
.gallery-slide-right:hover	{ background-image: url("../img/gallery.right_h.png"); }

.gallery-list		{ }
.gallery-list-image	{ }
.gallery-list-left	{ background: url(../img/gallery.left.png) no-repeat center center; }
.gallery-list-thumbs{ }
.gallery-list-right	{ background: url(../img/gallery.right.png) no-repeat center center; }
.gallery-list .tmb-selected	{ background: #888; }

#skypedetectionswf	{ position: absolute; left: -1000px; top: -1000px; }

.wb_form			{
	padding: 0px; margin: 0px; display: block; border: none; width: 100%; height: 100%;
}
.wb_form table		{
	padding: 0px; margin: 0px; border: none; border-collapse: collapse;
	width: 100%; height: 100%;
}
.wb_form table th,
.wb_form table td		{ padding: 4px 0px 0px 0px; margin: 0px; border: none; border-collapse: collapse; text-align: left; }
.wb_form table th		{ white-space: nowrap; }
.wb_form table tr:first-child th,
.wb_form table tr:first-child td {
	padding-top: 0px;
}
.wb_form table th:not([class]) 	{ font-size: 13px; }
.wb_comments textarea.hpc,
.wb_form textarea.hpc	{
	font-size: 1px; line-height: 1px; width: 1px; height: 1px; padding: 0px; margin: 0px;
	border: none; display: block; background: transparent; color: #ffffff; opacity: 0;
	filter: alpha(opacity=0); position: absolute; left: -10px; top: -10px;
}
.wb_comments		{ width: 500px; margin: 0px auto; }
.wb_comment			{
	display: block; border-top: 1px solid #ccc; padding: 6px 2px; clear: both;
	position: relative;
}
.wb_comment_user	{
	font-size: 18px; color: #007499; font-family: Arial,sans-serif; margin-bottom: 6px;
}
.wb_comment_date	{
	font-size: 10px; color: #999; font-family: Arial,sans-serif;
}
.wb_comment_text	{
	font-size: 13px; color: black; font-family: Arial,sans-serif;
}

.wb_footer { padding-bottom: 20px; }

i.icon-wb-logo {
	background-image: url("../img/icon-logo.png") !important;
	background-position: 0px 0px;
	width: 22px; height: 22px; margin: -3px 0px 0px 0px;
	vertical-align: middle;
}

.wb-combobox-controll input	{ cursor: pointer; }
.wb-combobox-controll ul	{ overflow-y: auto; max-height: 180px; }
.wb-combobox-controll .dropdown-toggle { padding-left: 8px; padding-right: 8px; }


[class^="ico-lang"],
[class*=" ico-lang"] {
	background: url("../img/flags_matrix.png") no-repeat;
	width: 18px; height: 12px; display: block; display: inline-block;
	padding: 0px; margin: 0px; border: none; font-size: 1px; line-height: 1px;
	overflow: hidden;
}
span.ico-lang-us, i.ico-lang-us { background-position: -378px -228px; }
span.ico-lang-uk, i.ico-lang-uk { background-position: -378px -132px; }
span.ico-lang-lt, i.ico-lang-lt { background-position: -216px -240px; }
span.ico-lang-ru, i.ico-lang-ru { background-position: -324px -252px; }
span.ico-lang-de, i.ico-lang-de { background-position: -72px -60px; }
span.ico-lang-ae, i.ico-lang-ae { background-position: -18px -60px; }
span.ico-lang-dk, i.ico-lang-dk { background-position: -72px -132px; }
span.ico-lang-gr, i.ico-lang-gr { background-position: -126px -216px; }
span.ico-lang-es, i.ico-lang-es { background-position: -90px -228px; }
span.ico-lang-sv, i.ico-lang-sv { background-position: -342px -264px; }
span.ico-lang-ee, i.ico-lang-ee { background-position: -90px -60px; }
span.ico-lang-fi, i.ico-lang-fi { background-position: -108px -108px; }
span.ico-lang-fr, i.ico-lang-fr { background-position: -108px -216px; }
span.ico-lang-hr, i.ico-lang-hr { background-position: -144px -216px; }
span.ico-lang-hu, i.ico-lang-hu { background-position: -144px -252px; }
span.ico-lang-id, i.ico-lang-id { background-position: -162px -48px; }
span.ico-lang-it, i.ico-lang-it { background-position: -162px -240px; }
span.ico-lang-kr, i.ico-lang-kr { background-position: -198px -216px; }
span.ico-lang-lv, i.ico-lang-lv { background-position: -216px -264px; }
span.ico-lang-my, i.ico-lang-my { background-position: -234px -300px; }
span.ico-lang-mk, i.ico-lang-mk { background-position: -234px -132px; }
span.ico-lang-nl, i.ico-lang-nl { background-position: -252px -144px; }
span.ico-lang-pl, i.ico-lang-pl { background-position: -288px -144px; }
span.ico-lang-br, i.ico-lang-br { background-position: -36px -216px; }
/* span.ico-lang-br, i.ico-lang-br { background-position: -288px -240px; } */
span.ico-lang-ro, i.ico-lang-ro { background-position: -324px -180px; }
span.ico-lang-ua, i.ico-lang-ua { background-position: -378px -12px; }
span.ico-lang-sk, i.ico-lang-sk { background-position: -342px -132px; }
span.ico-lang-tr, i.ico-lang-tr { background-position: -360px -216px; }
span.ico-lang-th, i.ico-lang-th { background-position: -360px -96px; }
span.ico-lang-vn, i.ico-lang-vn { background-position: -396px -168px; }
span.ico-lang-se, i.ico-lang-se { background-position: -342px -60px; }
span.ico-lang-hk, i.ico-lang-hk { background-position: -144px -132px; }
span.ico-lang-tw, i.ico-lang-tw { background-position: -144px -132px; }
span.ico-lang-cn, i.ico-lang-cn { background-position: -144px -132px; }
span.ico-lang-rs, i.ico-lang-rs { background-position: -324px -228px; }
span.ico-lang-cz, i.ico-lang-cz { background-position: -54px -312px; }
span.ico-lang-cs, i.ico-lang-cs { background-position: -54px -312px; }
span.ico-lang-bg, i.ico-lang-bg { background-position: -36px -84px; }
span.ico-lang-il, i.ico-lang-il { background-position: -162px -144px; }
span.ico-lang-by, i.ico-lang-by { background-position: -35px -300px; }
span.ico-lang-kz, i.ico-lang-kz { background-position: -198px -312px; }
span.ico-lang-al, i.ico-lang-al { background-position: -17px -144px; }
span.ico-lang-ir, i.ico-lang-ir { background-position: -162px -216px; }
span.ico-lang-no, i.ico-lang-no { background-position: -252px -180px; }
span.ico-lang-za, i.ico-lang-za { background-position: -467px -12px; }
span.ico-lang-am, i.ico-lang-am { background-position: -18px -155px; }
span.ico-lang-ct, i.ico-lang-ct { background-position: -54px -240px; }
span.ico-lang-jp, i.ico-lang-jp { background-position: -180px -192px; }
span.ico-lang-in, i.ico-lang-in { background-position: -162px -168px; }
span.ico-lang-eu, i.ico-lang-eu { background-position: -90px -252px; }
span.ico-lang-gl, i.ico-lang-gl { background-position: -126px -144px; }
span.ico-lang-pt, i.ico-lang-pt { background-position: -288px -240px; }
span.ico-lang-gb, i.ico-lang-gb { background-position: -468px -312px; }
span.ico-lang-ge, i.ico-lang-ge { background-position: -126px -60px; }


i.ico-lang-en,
i.ico-lang-lt,
i.ico-lang-ru	{ width: 18px; height: 12px }


.langs_flags {
	display: inline-block;
}
.langs_flags a {
	padding: 0;
	width: 18px;
	height: 12px;
	position: relative;
	display: block;
	float: left;
	margin: 2px;
}
.langs_flags a.active:after {
	content: "";
	display: block;
	width: 22px;
	height: 16px;
	border: 1px solid #777;
	padding: 1px;
	position: absolute;
	top: -2px;
	left: -2px;
}
.langs_flags a:last-child {
	margin-right: 0;
}
.langs_flags a i {
	display: block;
}

.btn-collapser {
	display: none;
	text-align: center;
	padding: 6px;
}

.btn-collapser > .icon-bar {
	display: block;
	padding: 0px;
	margin: 3px 0px 0px 0px;
	font-size: 1px;
	line-height: 1px;
	background: #000000;
	height: 3px;
	width: 18px;
}

.btn-collapser > .icon-bar:first-child {
	margin-top: 0px;
}

.wb_element .collapsed > .btn-collapser {
	display: inline-block;
}

.wb_element .collapsed > ul {
	display: none !important;
}

.wb-music-player {
	background-color: #fafafa;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.wb-music-player-ctrl {
	background-color: #333333;
	padding: 0px;
	margin: 0px;
}
.wb-music-player-btns {
	text-align: center;
	padding: 6px 0px;
	margin: 0px;
}
.wb-music-player-btns > a {
	cursor: pointer;
	color: #ffffff;
	text-align: left;
	vertical-align: middle;
	display: inline-block;
}
.wb-music-player-btns > a:hover {
	color: #2cbd98;
	border-color: #2cbd98;
	text-decoration: none;
}
.wb-music-player-btns > a.disabled {
	color: #666666;
	border-color: #666666;
	cursor: default;
}
.wb-music-player-prev {
	border: 2px solid #ffffff;
	width: 22px;
	height: 22px;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	font-size: 11px;
}
.wb-music-player-prev > span {
	vertical-align: top;
	margin: 2px 0px 0px 4px;
}
.wb-music-player-next {
	border: 2px solid #ffffff;
	width: 22px;
	height: 22px;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	font-size: 11px;
}
.wb-music-player-next > span {
	vertical-align: top;
	margin: 2px 0px 0px 4px;
}
.wb-music-player-play {
	border: 2px solid #ffffff;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	margin: 0px 30px;
	font-size: 16px;
}
.wb-music-player-play > span {
	vertical-align: top;
	margin: 3px 0px 0px 6px;
}
.wb-music-player-pbar,
.wb-music-player-pbar > div {
	padding: 0px;
	margin: 0px;
	line-height: 1px;
	font-size: 1px;
	border: none;
	display: block;
	overflow: hidden;
	float: none;
}
.wb-music-player-pbar {
	background-color: #666666;
}
.wb-music-player-pbar > div {
	background-color: #2cbd98;
	width: 23%;
	height: 4px;
}
.wb-music-player-plist {
	color: #333333;
	font-size: 14px;
	line-height: 16px;
	padding: 4px 0px 0px 0px;
}
.wb-music-player-plist > div {
	padding: 4px 10px;
	margin: 0px;
}
.wb-music-player-plist > div:nth-child(even) {
	background-color: #efefef;
}
.wb-music-player-plist > div.active {
	background-color: #2cbd98;
}

.wb-recaptcha-placeholder {
	max-width: 304px;
	height: 78px;
	border: 1px solid #D3D3D3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #F9F9F9;
	color: #000;
	text-align: left;
	cursor: help;
	display: block;
}
.wb-recaptcha-placeholder > span {
	margin: 25px 12px 0px 12px;
	display: block;
	vertical-align: top;
	font-size: 14px;
	line-height: 24px;
}
.wb-recaptcha-placeholder > span::before {
	background: #ffffff;
	border: 2px solid #C1C1C1;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 28px;
	width: 28px;
	display: inline-block;
	margin: 0px 10px -9px 0px;
	content: "";
}

.wb-store {
	overflow-y: auto;
	width: 100%;
	height: 100%;
}
.wb-store-item {
	display: inline-block;
	margin: 0px 10px 20px 10px;
	cursor: pointer;
	vertical-align: top;
}
.wb-store-thumb {
	border: 1px solid #eee;
	margin: 0px 0px 5px 0px;
	overflow: hidden;
	width: 200px;
	height: 200px;
	text-align: center;
}
.wb-store-thumb img {
	max-width: 100%;
}
.wb-store-image {
	border: 1px solid #eee;
	overflow: hidden;
	width: 300px;
	height: 300px;
	float: left;
	text-align: center;
}
.wb-store-nothumb {
	font-size: 49px;
	line-height: 49px;
	color: #999999;
	display: inline-block;
}
.wb-store-properties {
	padding-left: 20px;
}
.wb-store-controls {
	margin-bottom: 20px;
}
.wb-store-label {
	display: inline-block;
	margin-right: 6px;
}
.wb-store-properties .wb-store-pcats {
	display: block;
	margin-bottom: 10px;
}
.wb-store-properties .wb-store-sku {
	display: block;
	margin-bottom: 10px;
}
.wb-store-properties .wb-store-name {
	display: block;
	margin-bottom: 10px;
}
.wb-store-properties .wb-store-price {
	display: block;
	margin-bottom: 10px;
}
.wb-store-desc {
	margin-top: 20px;
}
.wb-store-filters {
	margin: 0px 10px 20px 10px;
}
.wb-store-cat-select {
	width: 200px;
}
.wb-store-form-block {
	clear: both;
	padding-top: 20px;
}
.wb-store-form-buttons {
	text-align: right;
}
.wb-store-form-block .wb-store-form {
	margin-top: 20px;
	position: static !important;
	float: none;
}
.wb-store-form-block .wb-store-form .form-footer td {
	text-align: right;
}
.wb-store-cart {
	cursor: pointer;
}
.wb-store-cart > img {
	max-width: 32px;
}
.wb-store-cart > img,
.wb-store-cart > span {
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}
.wb-store-cart > div {
	text-align: center;
	width: 100%;
}
.wb-store-cart i.ico-tb-store-cart {
	font-family: FontAwesome;
	font-size: 22px !important;
	line-height: 30px !important;
	width: 30px !important;
	height: 30px !important;
	color: #333333;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: none !important;
	text-align: center;
	vertical-align: middle;
	speak: none;
}
.wb-store-cart i.ico-tb-store-cart:before { content: "\f291"; }

.wb-store .wb-store-pay-btns > div {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}
.wb-store .wb-store-pay-btns .skrill .buton {
	height: 40px;
	border: 2px solid #fff;
	background: #811e68;
	color: #fff;
	font-size: 15px;
	padding: 6px 18px!important;
	font-family: Trebuchet MS,sans-serif;
}
.wb-store .wb-store-pay-btns .webmoney input[type="submit"] {
	border: 1px solid #538ec1;
	background: #a4cef4;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: #ffffff;
	height: 36px;
	padding: 6px 18px!important;
}
.wb-store .wb-store-pay-btns .paypal img,
.wb-store .wb-store-pay-btns .paypal input[type="image"] {
	display: block;
}


@-webkit-keyframes cartanim {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
}
@keyframes cartanim {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}
.cartanim {
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
    -webkit-animation-name: cartanim;
    animation-name: cartanim;
}

.wb-store-cart-table,
.wb-store-cart-table td,
.wb-store-cart-table th,
.wb-store-cart-table tr {
	border: none;
	margin: 0px;
}
.wb-store-cart-table td,
.wb-store-cart-table th {
	padding: 10px 5px;
	vertical-align: middle;
}
.wb-store-cart-table thead td,
.wb-store-cart-table thead th {
	text-align: center;
}
.wb-store-cart-table thead {
	border-bottom: 1px solid #ccc;
}
.wb-store-cart-table tfoot {
	border-top: 1px solid #ccc;
}
.wb-store-cart-table.empty thead,
.wb-store-cart-table.empty tfoot {
	border: none;
}

.wb-store-cart-table-img {
	width: 1%;
}
.wb-store-cart-table-img img {
	max-height: 56px;
}
.wb-store-cart-table-name {
	text-align: left;
}
.wb-store-cart-table-quantity {
	width: 1%;
}
.wb-store-cart-table-quantity input {
	width: 60px;
	text-align: center;
}
.wb-store-cart-table-price {
	width: 1%;
	text-align: center !important;
}
.wb-store-cart-table-totals {
	text-align: right;
}
.wb-store-cart-sum {
	width: 1%;
	text-align: center !important;
}
.wb-store-pay-btns {
	text-align: right;
	margin-top: 20px;
}
.wb-store-pay-btns div {
	display: inline-block;
}
